/* #box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: cornflowerblue; */
/* CSS transitions allows you to change property values smoothly, over a given duration. */
/* transition-property: background-color; */
/* transition-duration: 500ms; */
/* transition-duration: 1s; */
/*  timeline of transition start to end */
/* linear is the default  */
/* transition-timing-function: linear; */
/* transition-timing-function: ease-out; */
/* transition-timing-function: ease-in; */
/*  transition delay waits for a min then starts the transition  */
/* transition-delay: 1s; */
/*  short hand for everything above */
/* transition: background-color 1s linear 1s , width 1s linear;
}

#box:hover {
    background-color: firebrick;
    width: 300px
} */

* html,
body {
  margin: 0;
  padding: 0;
}
.container div {
  margin: 8px;
  display: grid;
  grid-gap: 5px;
  align-items: center;
  grid-template-columns: reapat (12, 1fr);
  grid-template-rows: repeat(4, 10px);
}
.container > div:nth-child(1) {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 1px solid black;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}
.container > div:nth-child(2) {
  background-color: blueviolet;

  width: 100px;
  height: 100px;
  border: 1px solid black;
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}
p {
  color: #74d2ea;
}
.container > div:nth-child(3) {
  width: 100px;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;
}
.container > div:nth-child(4) {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: darkmagenta;
  grid-column: 3 / span 3;
  grid-row: 3 / span 4;
}
.container > div:nth-child(5) {
  width: 100px;
  height: 100px;
  background-color: gold;
  border: 1px solid black;
  grid-column: 2 / span 4;
  grid-row: 5 / span 2;
}
.container > div:nth-child(6) {
  width: 100px;
  height: 100px;
  background-color: violet;
  border: 1px solid black;
  grid-column: 3 / span 3;
  grid-row: 5 / span 4;
}

#box1:hover {
  background-color: rgb(229, 59, 203);
  width: 200px;
  box-decoration-break: slice;
  -webkit-box-decoration-break: slice;
  box-shadow: 8px 8px 10px 0 #ff1493, -5px -5px 5px 0 #00f, 5px 5px 15px 0 #ff0;
  transition: background-color 1s linear 1s , width 1s linear;
}
#box2:hover {
  background-color: rgb(68, 17, 20);
  width: 50px;
  margin: 50px;
  transition: background-color 1s linear 1s , width 1s linear;
}
#box3:hover {
  background-color: rgb(23, 208, 171);
  width: 200px;
  box-shadow: 10px 5px 5px red;
  transition: background-color 1s linear 1s , width 1s linear;
}
#box4:hover {
  background-color: rgb(59, 229, 62);
  opacity: 0.1;
  transition: background-color 1s linear 1s , width 1s linear;
}
#box5:hover {
  background-color: rgb(193, 236, 36);
  border: 20px solid cornflowerblue;
  transition: background-color 1s linear 1s , width 1s linear;
}

#box6:hover {
  max-width: 200;
  
  background-color: bisque;
  margin-inline-end: 300px;
  border: 10px solid navy;
  transition: background-color 1s linear 1s , width 1s linear;
}